@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Open+Sans:ital,wght@1,500&family=Playfair+Display:ital,wght@1,500&display=swap');


nav a {
    text-decoration: none;
    text-align: center;
    padding: 35px;
    color:darkgoldenrod
    
}
#hero-msg, h1 {
    text-align: center;
}
#hero-msg, h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white; 
    font-family: Noto Sans Mono, Open Sans, Playfair Display;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:steelblue;
}
nav a:hover {
    background-color: white;
    color:cadetblue
}
.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
    background-color: darkcyan;
    color:beige
    
}                   
.book:hover, .join:hover {
    background-color: darksalmon;
    color:cadetblue
}
#background {
    background-color: beige;
}
.msg {
    background-color: darkslategray;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color:darkgrey;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  #background {
    height: 725px;
}
.home-title {
    font-family: Noto Sans Mono, Open Sans, Playfair Display;
    font-size: 2em;
    margin-top: 10px;
    color:darkslategray
}   
h4 {
    color:lightblue
}  
.msg h2 {
    font-family: Noto Sans Mono, Open Sans, Playfair Display;
    color:lightblue
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
    color:cadetblue

}
footer h3 {
    color:darkgray
}
footer a {
    text-decoration: none;
    color:darkkhaki
}
footer a:hover {
    color:darkcyan
}
#hero-img {
    width: 100%;
  }
.icon {
    width: 80px;
    padding-top: 10px;
}  
.logo {
    width: 80px;
}
footer p {
    font-size: 1.2em;
    color:rgb(28, 144, 28)
}
footer p a:hover {
    text-decoration: underline;
}
p {
    color:black
}
h1 {
    font-family:Noto Sans Mono, Open Sans, Playfair Display ;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid darkslategray;
}
main section img {
    box-sizing: border-box;
}