@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #997FA2   ;
    --secondary-color: #62B6CB ;
    --accent1-color: #FCDAA7;
    --accent2-color: white;
    --heading-font: "Playfair Display";
    --paragraph-font: Playfair Display, Lato;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #997FA2;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white:  #62B6CB; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #997FA2  ;
    --nav-link-color: #62B6CB;
    --nav-background-color: #FCDAA7;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #62B6CB ;
  }
  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    display: flex;
    align-items: baseline;
    padding: 0.5em;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo {
    width: 200px;
    margin-top: 16px;
  }
  nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    color:#62B6CB;
    font-size: 30px;
    font-family: Playfair Display, Lato;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav a:hover {
    background-color: #62B6CB;
    color:white

}
.intro p {
    font-size: 30px;
    color: #62B6CB;
    font-family: Playfair Display, Lato;
    padding: 20px 20px 20px 20px;
    line-height: 1.6;
}
#main-photo1 {
    width: 100%;
}
.info p {
    font-size: 30px;
    color: #62B6CB;
    font-family: Playfair Display, Lato;
    padding: 20px 20px 20px 20px;
    line-height: 1.6;
}

.past-activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 20px;
    padding: 10px 10px 10px 10px;
    border: 1px 1px;
    

}
#hiking {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    width: 550px;
    height: 400px;
}
#fishing {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    width: 550px;
    height: 400px;
}
#singing {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
    width: 550px;
    height: 400px;
}
#camping {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 100%;
    width: 550px;
    height: 400px;
}
footer {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    display: flex;
    align-items: baseline;
    padding: 0.5em;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Playfair Display, Lato;
}

footer a {
    width: 200px;
    margin-bottom: 16px;
}
main {
  background-color:#FCDAA7;
  max-width: 1200px;
}
.main-activities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 2em;
  width: 100%;
}
#main-photo2 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
.main-activities img {
  width: 100%;
}
.activity-p1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size:30px ;
  font-family: Playfair Display, Lato;
  padding: 10px 10px 10px 10px;
  color: #62B6CB;
  line-height: 1.6;
}
#bonfire {
  grid-column: 2/3;
  grid-row: 2/3;
  
  
}
.activity-p2 {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size:30px ;
  font-family: Playfair Display, Lato;
  padding: 10px 20px 10px 20px;
  color: #62B6CB;
  line-height: 1.6;
}

#ziplining {
  grid-column: 1/2;
  grid-row:3/4;
  
}
.activity-p3 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-size:30px ;
  font-family: Playfair Display, Lato;
  padding: 10px 20px 10px 20px;
  color: #62B6CB;
  line-height: 1.6;
}

#scavenger {
  grid-column: 2/3;
  grid-row: 4/5;
  height: 500px;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 2em;
  width: 100%;
}
#main-photo3 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
.meditation {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size:30px ;
  font-family: Playfair Display, Lato;
  padding: 10px 20px 10px 20px;
  color: #62B6CB;
  line-height: 1.6;
}
.main-content img {
  width: 100%;
}
#shooting {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 550px;
  height: 400px;
  margin-left: 25px;
}
#water-activity {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 550px;
  height: 400px;
}
#boating {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 550px;
  height: 400px;
  margin-left: 25px;
}
#movie-night {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 550px;
  height: 400px;
}
.final-words {
  grid-column: 1/3;
  grid-row: 5/6;
  font-size:30px ;
  font-family: Playfair Display, Lato;
  padding: 10px 20px 10px 20px;
  color: #62B6CB;
  line-height: 1.6;
}